hostname = "zabbix-server"
aws_ami_id = "ami-0510c89f1a2691cf2"
aws_instance_type = "t2.micro"
aws_subnet_id = ""
aws_security_group_id = ""
aws_key_name = "replace_with_key_name"
ebs_volume_device_name = "/dev/sdf"
ebs_volume_mount_path = "/mnt/zabbix"
ebs_volume_type = "gp2"
ebs_volume_size = "10"
